
#logo{
    max-width: 300px;
    margin: 15px;
}

#loginl{
    max-width: 500px;
    margin-top: 15px;
    width: 100%;
    height: auto;
}

/* logo - <end> */

#loginbox{
    padding:20px;
}

nav {
    position:fixed;
    top: 0;
}

body {
    flex: 1 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: white;
    background-color: #fff;
}

.conteudo {
    margin-top: 55px;
    border: solid 0px blue;
    height: 10vh;
    
}
.dash-area, .menu {
    height: 88.5vh;
}

.linha{
    padding-top: 20px;
}

ul.lista {
    margin-top: 30px;

}

footer, .sombra{
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,.8);
}


.botao {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}


li.botao {
    color:#fff;
}

.colapso {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    border: 0px;
    font-weight: bold;
    color: #fff;
}

.colapsob {
    padding: 15px 0 15px 5px;
    color: #fff;
}

.colapsob a {
    color: #fff;
}

.colapsoh{
    background-color: #616161;
}

.icone{
    margin-right: 10px;
    position: relative;
    top: 6px;
    left: 2px;
}

.side-nav {
    background-color: #424242;
}

.categoria {
    color: white;
    text-decoration: none;
    padding-left: 15px;
    
.snav li, .snav li a {
    color:#FFF; 
    font-weight: bold;
    padding-left: 30px;
}

.section {
    width: 300px;
    margin-left: -30px;
    padding-left: 10px;
    background-color: #424242;
}

#dash-menu {
    margin-bottom: -17.5px;
}

.graphtab {
    min-height: 150px;
    margin: 10px 0 0 10px;
}
